@font-face {
    font-family: 'Effra Heavy';
    src: url('../../src/fonts/effra/effra_std_he-webfont.woff')}

@font-face {
    font-family: 'Effra';
    src: url('../../src/fonts/effra/effra_std_rg-webfont.woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../src/fonts/roboto/Roboto-Regular.ttf');
}